# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual Environment
venv/
.env
.env.*

# But DO NOT ignore the example template
!.env.example

# VSCode
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Test Cache
.pytest_cache/
.coverage

# MySQL/PGSQL dump files
*.sql

# Redis dump
dump.rdb

# Ignore compiled docs
*.docx
*.pdf

# Bytecode
*.egg-info/
.eggs/
dist/
build/
